.form {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
  //background: url('../../../public/images/background/bg-form@2x.png') center/cover no-repeat;

  &__container {
    max-width: 660px;
  }

  &__row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
@media (min-width: map-get($grid-breakpoints, xs)) {}
@media (min-width: map-get($grid-breakpoints, sm)) {}
@media (min-width: map-get($grid-breakpoints, md)) {}
@media (min-width: map-get($grid-breakpoints, lg)) {}
@media (min-width: map-get($grid-breakpoints, xl)) {}